body{font-size:14px;font-family: "Microsoft Yahei","\5b8b\4f53";color:#333;margin:0; padding:0;}
a{color:#333;}
a:hover{color:#333;}
p{line-height:20px;}

.border{border:1px solid #ddd; overflow:hidden;}
.warpper{width:100%;margin:0 auto; background:#fff;}
.date{ float:right; margin-right:8px; color:#999999;}
.row{ width:1200px; margin:0 auto;}

.head{width:100%;height: 114px;}
.head .logo{width: 211px;margin:10px;margin-left: 0; margin-top: 18px;float: left;}

/*------------------indexPublic-------------------*/
.nav {height:40px; line-height:40px;  float:right;width: 630px; margin-top: 30px;}
.nav a {
  display: block;
  padding: 0 20px;
  line-height: left;
  cursor: pointer;
}
.nav_menu {
  line-height: 45px;
  font-weight: bold;
  font-size: 15px;
  
}
.nav_menu-item {
  display: inline-block;
  position: relative;
  color:#fff;
}
.nav_menu-item:hover {
  background-color: #C73A30;
  
}
.nav_menu-item >hover{color:#fff;}
.nav_menu-item >a:hover{color:#fff;}
.nav_menu-item:hover .nav_submenu {
  display: block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 200px;
  background: #efefef;
  z-index:9999;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
  color:#333
}
.current>a{background:#C73A30; color:#fff; }

/* banner */
/* banner */
.banner{ min-width:1200px;  position:relative;  height:400px; overflow:hidden;  }
.banner .bd{ position:relative; z-index:0;  }
.banner .bd ul{ width:100% !important; }
.banner .bd li{ width:100% !important;  height:400px; }
.banner .bd li .siteWidth{ width:1000px; position:relative;  margin:0 auto;  height:299px;  }
.banner .bd li a{ height:400px; display:block;  }
.banner .bd .txt{ position:absolute; width:415px; top:100px; left:22px;   font:normal 18px/30px "Microsoft YaHei";    }
.banner .bd .btn{ display:block; zoom:1; margin-top:8px;  width:72px; padding-right:10px;  height:31px; line-height:31px; text-align:center; color:#fff; font-size:12px; background:url(../images/banner-btn.png) 0 0 no-repeat;
_background:url(../images/banner-btn-ie6.png) 0 0 no-repeat;
}
.banner .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
.banner .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url(../images/dot-black.png) 0 0; overflow:hidden; 
	line-height:9999px; filter:alpha(opacity=40);opacity:0.4; 
}
.banner .hd ul .on{ filter:alpha(opacity=100);opacity:1;  }


.newsBox{width: 1200px;margin:0 auto;background:#E5F0F2;padding-top: 20px;overflow: auto;padding-bottom: 10px;}
.box1{width: 345px;float: left;display: inline;}
.box2{width: 500px;float: left;display: inline;background: #fff; margin-left: 28px;padding:10px;height: 210px;}
.box2 .titleBar{font-weight: bold;font-size: 15px;}
.box2 .titleBar span{font-size: 11px;font-weight: normal;padding-right: 4px;float: right;color:#BBBBBB;margin-top: 6px;}
.box2 .gz{margin-top: 12px;}
.box2 .gz .pic{width: 75px;float: left;display: inline;}
.box2 .gz .gz_con{width: 405px;float: right;font-size: 9px;}
.box2 .gz .gz_con .gz_title{font-weight: bold;line-height: 30px;height: 30px;font-size: 13px;}
.box2 .gz .gz_con p{color:#999;}
.box2  ul{ color:#666;}
.box2 ul li{line-height: 35px;font-size: 13px;}
.box3{width: 282px;float: right; display: inline;}



/* 焦点图 */
.focusBox { float:left; position: relative; width: 345px; height: 230px; margin-bottom:10px;  overflow: hidden; font-family:Arial; text-align: left; background:#fff; }
.focusBox .pic img { width: 345px; height: 230px; display: block; }
.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width:100%;  background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 36px; width:100%; overflow: hidden; }
.focusBox .txt li{ height:36px; line-height:36px; position:absolute; bottom:-36px;}
.focusBox .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; text-decoration: none; }
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
.focusBox .num li{ float: left; position: relative; width: 18px; height: 15px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 1px; cursor: pointer; }
.focusBox .num li a,.focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }
.focusBox .num li.on a,.focusBox .num a:hover{ background:#f60;  }

.sub_banner{width: 1200px;margin:0 auto;height: 300px; position: relative;}
.page_cat{width: 200px;background:#000; font-size:24px;font-weight: bold;text-align: center;line-height: 85px;
color:#fff;top:120px; position: absolute;
 /* older safari/Chrome browsers */  
    -webkit-opacity: 0.5;  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity: 0.5;  
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/  
    -khtml-opacity: 0.5;  
    /* IE9 + etc...modern browsers */  
    opacity: .5;  
    /* IE 4-9 */  
    filter:alpha(opacity=50);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);


}
.page_cat .txt{color:#fff; width:100%;}
.date{float:right;margin-right:10px; font-size:12px;}
.Nmore{margin-top: 7px; float:right; padding-right:6px;font-size: 12px;}

.main{width: 1200px;margin:0 auto;margin-top: 20px;}
.main .left{width: 260px;float: left;display: inline;}
.main .left .category{width: 100%;}
.main .left .category h3{height: 50px;line-height: 50px;background: #C73A30;font-size: 18px;font-weight: bold; color:#fff;text-indent: 10px;}
.main .left .category ul li{line-height: 50px;height: 50px;border-bottom:1px solid #e3e3e3;text-indent: 20px;}
.main .left .category ul li:hover{background: #efefef;}
.main .right{width: 900px;float: right;}
.news_con{width: 520px;float: left;margin-left: 20px;}
.cat-title{font-weight: bold;font-size: 15px;line-height: 40px;border-bottom: 1px solid #e3e3e3;}
.cat-title span{font-size: 11px;font-weight: normal;padding-right: 4px;float: right;color:#BBBBBB;margin-top: 6px;}
.news_con ul li{line-height: 38px;height: 38px;}
.gg{width: 280px;float: right;}
.flink_con{width: 1200px;margin:0 auto;border-bottom: 1px solid #efefef;height: 40px;line-height: 40px;}
.flink_con a{margin-right: 15px;}
/* 文字无缝上滚动 */
.sideBox{  height:200px; overflow:hidden;   background:#fff; margin-bottom:10px;   }
.sideBox .hd{ height:30px; line-height:30px; background:#f60; padding:0 10px;   }
.sideBox .hd h3{ font-weight:bold; font-size:14px; color:#fff;  }
.sideBox .hd h3 a{ color:#fff;   }
.sideBox .bd{ padding:10px 0 10px 5px;  }
.sideBox .bd li{ height:25px; line-height:25px; overflow:hidden;    }
.sideBox .bd li span{ color:#999; margin-right:5px;   }


/* 图片滚动 */
.picScroll{ position:relative;  height:190px; padding: 10px 0px 10px 42px;  background:#fff; margin-bottom:10px; overflow:hidden; width: 1160px;  }
.picScroll ul{ overflow:hidden; zoom:1; }
.picScroll ul li{ float:left; margin: 0 6px;  width:210px; overflow:hidden; display:inline;text-align: center; }
.picScroll ul li img{ width:200px; height:160px; }
.picScroll .prev,
.picScroll .next{ position:absolute;  left:10px; top: 75px; display:block; width:18px; height:28px; overflow:hidden; background:url(../images/icons.png) -40px 0 no-repeat; cursor:pointer;  }
.picScroll .next{ left:auto; right:10px; background-position:-120px 0; }
.picScroll .prevStop{ background-position:0 0; }
.picScroll .nextStop{ background-position:-80px 0; }

.dt_box {width: 585px;float: left;display: inline;margin-bottom: 10px; height: 330px;}
.dt_box dl dt{width: 186px;height: 126px;float: left;display: inline;}
.dt_box dl {margin-top:10px}
.dt_box dl dt img{width: 184px;height: 124px;border:1px solid #ccc}
.dt_box dl dd{float: right;width: 380px;}
.dt_box dl dd h4{font-weight:bold;font-size: 13px;line-height: 35px;}
.dt_box dl dd p{color:#999;line-height: 25px;}
.dt_box dl dd span{padding:3px 10px; border-radius:6px;background: #C73A30;color:#fff;}
.dt_box dl dd span a{color:#fff;font-size: 11px;margin-top: 6px;}
.dt_box  ul li{line-height: 35px;}

.box3 ul li{line-height: 32px;}
/* 友情链接 */
.footer{margin:0 auto; width:100%; padding-top: 20px;line-height:25px; height:105px;text-align: center;font-size:10px;border-top:3px solid #C73A30;color:#999}
.footer a{color:#999}
.footer p{line-height: 25px;font-size: 10px;}
.footer .small_nav{float: left;}
.footer .copyright{float: right;}

.postion{height: 49px;line-height: 49px;border-bottom:1px solid #efefef;}
.postion .cur_title{font-size: 18px;font-weight: bold;color:#C73A30; text-indent: 10px;float: left;}
.postion  .curb{font-size: 12%;float: right;}
.news_list2 dl {margin-top: 10px; border-bottom: 1px dotted #e3e3e3; overflow: auto;padding-top: 10px;padding-bottom: 10px; }
.news_list2 dl  dt{width: 74px;height:80px;background: #f6f5f5;float: left;display: block;margin-left: 20px;}
.news_list2 dl  dt .today{ display: block;height: 51px;line-height: 51px;text-align: center;font-size: 26px;font-weight: bold;font-family:'Regencie85519e3ad167d7';color:#4ba737}
.news_list2 dl  dt .month{display: block;height: 28px;line-height: 28px;text-align: center;border-top:1px solid #fff; }
.news_list2 dl dd{ width:1090px;float: right;display: inline;}
.news_list2 dl dd h4{font-size: 15px;font-weight: bold;line-height: 30px;}
.news_list2 dl dd p{line-height: 25px}
.news_list2 dl:hover{-webkit-transition: all 400ms;
    transition: all 400ms;background: #f4eee4;cursor: pointer;}


.news_list li{line-height: 45px;height: 45px; border-bottom: 1px dotted #ccc;background: url(../images/dot.gif) no-repeat left center;text-indent: 18px;}
/* phpcmsv9 分页 */
#pages { width:94%;margin:0 auto;text-align:center;padding:10px 0}
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 { background:url(../images/admin_img/pages.png) no-repeat 0 5px; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#4ba737; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

.art_title{font-size: 22px;font-weight: bold;text-align: center;margin:10px}

/*文章页部分*/
.article{width:98%;margin:0 auto;margin:20px 0; overflow: hidden;}
.article h1{text-align:center;font-size:28px; color:#333; font-weight:normal;font-family:"微软雅黑";}
.article .meta{text-align:center;font-size:12px;line-height:35px;color:#999;border-bottom:1px dashed #E2E2E2;color:#333;}
.article_content{width:96%;margin:0 auto;padding:5px 10px;line-height:30px; font-size:16px;margin-top: 15px;}
.article_content p{line-height:30px; font-size:16px;margin-top:16px;}

.article_content img{max-width:760px;height:auto;width:expression(this.width > 760 ? "760px" :this.width);margin-top: 5px; }
.last_next_page{width:96%;margin:0 auto; border-left:5px solid #999;height:30px;}
.last_next_page ul{padding-left:8px;}
.last_next_page ul li{ display: inline;float:left; height:30px; line-height:30px;width:50%;}
.list_image{margin-bottom: 10px;}
.list_image li{width: 406px;height: 296px; margin:20px;float: left;display: inline;text-align: center;}
.list_image li img{width: 400px;height: 290px;border:1px solid #ccc;border:1px solid #ccc;padding:3px}
.zszl{width: 680px;float: left;display: inline;margin-right: 20px;}
.jiayu{width: 500px;float: left;display: inline;}
.jiayu .pic {float: left;width: 400px;height: 345px;display: block; margin:15px 30px 0 0}
.jiayu .jiayu_con{width:700px;float: left;display: block;}
.jiayu .jiayu_con p{line-height:25px; font-size:13px;margin-top:12px;}
.zs_box1{width: 420px;float: left;display: inline;height: 256px;}
.zs_box2{width: 420px;float: left;display: inline;margin-left: 25px;height: 256px;}
.zs_box3{width: 305px;float: right;}
.zs_box1 li,.zs_box2 li,.zs_box3 li{font-size: 13px;} 
.contact_con{padding:10px;line-height: 25px;}
.contact_con p{line-height: 25px;}
.zs_more {text-align: center;margin-top: 10px;}
.zs_more a{padding:5px 10px;background: red; color:#fff;border-radius:6px}